{% extends "base.html" %}
{% block pagetitle %}
MPD-Client
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'mpd_client:play' %}" method="post">
	{% csrf_token %}
	<label for="uri" class="ui-hidden-accessible">Url zu Webstream:</label>
	<input type="text" name="uri" size="60" value="{{ uri }}" placeholder="Webstream-URL (bitte noch(!) keine m3u-Links)" />
	<input type="submit" value="Play" data-inline="true" name="play" />
	<input type="submit" value="Stop" data-inline="true" name="stop" />
</form>
{% endblock %}